/* Bloquote Home */
blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

.citation {
    font-size: 1rem;
    max-width: 50vw;
}

.citation-source {
    font-size: 0.8rem;
}

/** Carousel */
.p-relative {
    position: relative;
}

.w-100 {
    width: 100vw;
}

.h-50 {
    height: 50vh;
}

.h-25 {
    height: 25vh;
}

/* Cta Home */
.bg-image-book {
    background-image: linear-gradient(black, black), url('../../../public/img/newcaledonia5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: soft-light;
}

.home-cta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    line-height: 1;
}

.home-cta-title {
    font-weight: 400;
}

.home-cta-span {
    font-size: 4.9rem;
    font-weight: 700;
}


.btn {
    color: snow;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-aircalin {
    min-width: 25vw;
    min-height: 5vh;
    font-weight: 700;
    font-size: 1.2rem;
    background-color: cornflowerblue;
}

.btn-success {
    background-color: greenyellow;
}

.btn-danger {
    background-color: tomato;
}

/* Auth Pages and forms */
#main {
    width: 20vw;
    margin: 40px auto;
    padding: 25px 28px;
    background: snow;
    border-radius: 4px;
    border: 1px solid rgb(236, 231, 231);
}

.input-parent {
    display: block;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #a4a4a4;
}

.input-parent input,
.input-parent select,
.input-parent textarea {
    padding: 10px 8px;
    width: 100%;
    font-size: 16px;
    background: #e0e0e0;
    border: none;
    color: #2e2e2e;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s ease;
}

.input-parent input:focus {
    box-shadow: 0px 0px 0px 1px #0087ff;
}

.btn-classic {
    padding: 10px 18px;
    font-size: 15px;
    background: #1a3969;
    width: 100%;
    border: none;
    border-radius: 4px;
    color: #f4f4f4;
    transition: all 0.2s ease;
}

.btn-classic:hover {
    opacity: 0.9;
}

.btn-classic:focus {
    box-shadow: 0px 0px 0px 3px black;
}

.gap {
    gap: 2rem;
}

/* List view */

.card {
    margin: 1rem;
    border-radius: 60px;
}

.spots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.spot {
    flex: 33.33%;
}

.p-rel {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.list-style-none {
    list-style-type: none;
}

.spot-card-info {
    background-color: #f4f4f4;
    bottom: 3px;
    left: 0px;
    width: -webkit-fill-available;
    padding: 2px 20px;
}

.btn-delete-spot {
    position: absolute;
    width: 2rem;
    top: 0;
    right: 0;
    background-color: #f00020;
    color: snow;
    border: none;
    padding: 0.5rem 0.25rem;
    cursor: pointer;
}

/* Alert Create/Register */

.alert-success {
    --bs-alert-color: #0f5132;
    --bs-alert-bg: #d1e7dd;
    --bs-alert-border-color: #badbcc;
}

.alert-dismissible {
    padding-right: 3rem;
}

.alert {
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-margin-bottom: 1rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: 1px solid var(--bs-alert-border-color);
    --bs-alert-border-radius: 0.375rem;
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
    border-radius: var(--bs-alert-border-radius);
}

.alert-danger {
    --bs-alert-color: #842029;
    --bs-alert-bg: #f8d7da;
    --bs-alert-border-color: #f5c2c7;
}

.alert-dismissible .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 1.25rem 1rem;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e) center/1em auto no-repeat;
    border: 0;
    border-radius: 0.375rem;
    opacity: .5;
}