/* Bloquote Home */
blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

.citation {
    font-size: 1rem;
    max-width: 50vw;
}

.citation-source {
    font-size: 0.8rem;
}

/** Carousel */
.p-relative {
    position: relative;
}

.w-100 {
    width: 100vw;
}

.h-50 {
    height: 50vh;
}

/* Cta Home */
.bg-image-book {
    background-image: linear-gradient(black, black), url('../../../public/img/newcaledonia5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: saturation;
}

.home-cta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    line-height: 1;
}

.home-cta-span {
    font-size: 4.9rem;
}

.btn {
    color: snow;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-aircalin {
    min-width: 25vw;
    min-height: 5vh;
    font-weight: 700;
    font-size: 1.2rem;
    background-color: cornflowerblue;
}

.btn-success {
    background-color: greenyellow;
}

.btn-danger {
    background-color: tomato;
}