.header {
    background-color: snow;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 999;
}

.header-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.header-list {
    list-style: none;
    display: flex;
    text-decoration: none;
    gap: 1rem;
    padding: 0;
    font-size: 1rem;
    color: #333;
    align-items: center;
}

.header-link {
    text-decoration: none;
}

footer {
    width: 100%;
    color: #333;
    background-color: snow;
    height: 10vh;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.footer-logobox {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    gap: 1rem;
}