html {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-size: 62.5%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    text-align: center;
}

ul {
    padding: 0;
}

.d-flex {
    display: flex;
    justify-content: center;
}

.align-center {
    align-items: center;
}

.mt {
    margin-top: 1rem;
}

.mb {
    margin-bottom: 1rem
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
}

p {
    font-size: 0.8rem;
}

.text-dark {
    color: #2c2c2c;
}